* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    text-align: center;
}

p {
    margin: 0;
}

.description {
    margin-bottom: 20px;
}

.info {
    font-size: 1rem;
}

.tooltip {
    background: rgba(214, 216, 174, 0.9);
    padding: 15px;
    border-radius: 10px;
}